# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python
*.c
*.cpp
*.so
*.pyd
*.log
*.pyo
*.pyc
.idea/
build/
dist/
*.egg-info/
dist/
.ipynb_checkpoints
__pycache__/
.pytest_cache/

# GeoWombat
old/
envs/
doc/*.log
doc/source/*.log
geowombat/moving/*.c
geowombat/moving/*.so
geowombat/moving/*.pyd
geowombat/moving/*test*
geowombat/models/
logo/
bin/ESPA/

geowombat/data/lut

# dev
geowombat/radiometry/*test*.py
geowombat/radiometry/mask.py
#geowombat/radiometry/*fusion*
geowombat/radiometry/*.c
geowombat/radiometry/*.so
geowombat/radiometry/*.pyd

# Notebooks
notebooks/*hls*
notebooks/plotting.ipynb
notebooks/land_cover_strata.ipynb

