# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Python
*.c
*.cpp
*.so
*.pyd
*.log
*.pyo
*.pyc
.idea
*.egg-info/
dist/
.ipynb_checkpoints
__pycache__/

# GeoWombat
old/
envs/
doc/*.log
doc/source/*.log
geowombat/moving/*.c
geowombat/moving/*.so
geowombat/moving/*.pyd
geowombat/util/starfm*
geowombat/radiometry/_fill_gaps.pyx
geowombat/radiometry/impute.py
geowombat/examples/concurrent_processing.ipynb
geowombat/examples/transforms.ipynb
logo/
bin/ESPA/

# Notebooks
notebooks/*hls*
notebooks/plotting.ipynb
notebooks/land_cover_strata.ipynb

