cython
matplotlib
pandas
geopandas
numpy
rasterio
xarray
dask
dask[array,dataframe]
distributed
joblib
opencv-python
tqdm
shapely
h5netcdf
netCDF4
scikit-learn
numcodecs
zarr
dateparser
deprecated
rtree
