cython
numpy
matplotlib
pandas
geopandas
pyproj
shapely
rasterio
dask
dask[array,dataframe]
distributed
xarray
joblib
opencv-python
tqdm
h5netcdf
netCDF4
scikit-learn
dateparser
deprecated
rtree
zarr
