cython
matplotlib
pandas
geopandas
numpy
rasterio
xarray
dask
dask[array,dataframe]
dask-ml
distributed
affine
joblib
opencv-python
tqdm
shapely
h5netcdf
netCDF4
scikit-learn
numexpr
numcodecs
zarr
dateparser
wget
fsspec
sphinx-automodapi
sphinxcontrib-bibtex
numpydoc
deprecated
