cython>=0.29.0            # via -r requirements.in
dask[array,dataframe]>=2021.*
distributed>=2021.*
geopandas>=0.8.0          # via -r requirements.in
joblib>=0.16.0            # via -r requirements.in, scikit-learn
matplotlib>=3.3.0         # via -r requirements.in
numpy>=1.19.0             # via -r requirements.in, dask, matplotlib, pandas, rasterio, scikit-learn, scipy, snuggs, xarray
pandas>=1.*             # via -r requirements.in, dask, geopandas, xarray
pyproj>=2.6.0             # via -r requirements.in, geopandas
rasterio>=1.2.0,<=1.2.6
scikit-learn>=0.23.0      # via -r requirements.in
scipy>=1.5.0              # via -r requirements.in, scikit-learn
shapely>=1.7.0            # via -r requirements.in, geopandas
tqdm>=4.62.0              # via -r requirements.in
xarray>=0.17.0            # via -r requirements.in
cryptography
retry

