name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  Tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/osgeo/gdal:ubuntu-small-3.10.1
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
    steps:
      - name: Install system requirements
        run: apt update -y && apt install -y nodejs g++ git python3-dev

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # For setuptools-scm

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Enable caching
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Create venv
        run: uv venv

      - name: Install Python packages
        run: |
          uv pip install gdal[numpy]==$(gdal-config --version)
          uv pip install .[stac,web,tests]

      - name: Run Unittests
        run: |
          cd tests && python -m unittest discover -p 'test_*.py'

      - name: Run ml Unittests
        run: |
          uv pip install testfixtures
          uv pip install ".[ml]"
          cd tests && python -m unittest discover -p 'ml_*.py'
