
name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  VIRTUAL_ENV: /root/.venv


jobs:
  Tests:
    runs-on: ubuntu-latest 
    container:
      image: ghcr.io/osgeo/gdal:ubuntu-small-3.10.1
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - name: install system requirements (node just for act)
        run: apt update -y && apt install -y nodejs g++ git python3-dev
      - uses: actions/checkout@v4
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Enable caching
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: create a venv 
        run: uv venv 
      - name: Install Python packages
        run: |
          uv pip install gdal[numpy]==$(gdal-config --version)
          uv pip install .[stac,web,coreg,perf,tests]
      - name: Run Unittests
        run: |
          uv pip install testfixtures
          python -m unittest discover -p 'test_*.py'
      - name: Run ml Unittests
        run: |
          uv pip install testfixtures
          uv pip install ".[ml]"